[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
jupyterlab = "*"
python-twitter = "*"
pillow = "*"
matplotlib = "*"
numpy = "*"
fastprogress = "*"
tqdm = "*"
"mastodon.py" = "*"

[dev-packages]

[requires]
python_version = "3.8"
