[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
jupyterlab = "*"
python-twitter = "*"
click = "*"
opencv-python = "*"
pillow = "*"
matplotlib = "*"
numpy = "*"
scipy = "*"

[dev-packages]

[requires]
python_version = "3.8"
